.mb-10px {
  margin-bottom: 10px;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-15px {
  margin-bottom: 15px;
}

.mb-25px {
  margin-bottom: 25px;
}

.mr-8px {
  margin-right: 8px;
}

.w-20pro {
  width: 20%;
}

.w-30pro {
  width: 30%;
}

.w-50pro {
  width: 50%;
}

.fs-12 {
  font-size: 12px !important;
}

.flex-1 {
  flex: 1 !important;
}

.pl-5px {
  padding-left: 5px !important;
}

.item_inner>ion-select {
  max-width: 80% !important;
}

.w-full {
  width: 100% !important;
}

.lh-15 {
  line-height: 15px;
}

.fw-700 {
  font-weight: 700;
}

.pb-0 {
  padding-bottom: 0;
}

.border-b-0 {
  border-bottom: 0 !important;
}

.text-primary {
  color: #174293;
}

.btn-primary {
  background-color: #174293;
  border: 2px solid #00C2FF;
  border-radius: 55px;
  color: white!important;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: normal !important;
  margin-bottom: 15px;
  text-transform: none;
  padding: 15px 25px;
  height: 70px;
  display: flex;
  align-items: center;
}

.card-container {
  width: 100%;
  height: 100%;
}

.pb-30px {
  padding-bottom: 30px;
}

.card-box {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #71FFF7 0%, #075EEC 100%);
  border-radius: 55px;
  padding: 60px 35px;
}

.card-content {
  background: white;
  border-radius: 27px;
  width: 100%;
  padding: 20px;
  height: fit-content;
  min-height: 510px;
}

.icon-box {
  border: 3px solid #64EBF5;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -55px;
  z-index: 5;
  background: white;
}

.fs-15 {
  font-size: 15px;
}

.m-10px-0 {
  margin: 10px 0;
}

.p-0 {
  padding: 0;
}

.mb-25px {
  margin-bottom: 25px;
}

.d-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-sm {
  width: fit-content;
  color: black;
  letter-spacing: normal !important;
  padding: 10px 15px;
}

.pb-8 {
  padding-bottom: 8px;
}

.border-b-1 {
  border-bottom: 1px solid rgba(204, 204, 204, 0.6) !important;
}
