<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" mode="md">
      <ion-back-button text="" icon=""></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg_color">
  <div class="footer-rc4"><img src="assets/images/rc4.svg"/></div>
  <div class="splash-bg-rectangle rotate1"></div>
  <div class="splash-bg-rectangle rotate2"></div>
  <div class="splash-bg-rectangle rotate3"></div>
  <div class="splash-bg-rectangle rotate4"></div>
  <div class="card-container animate__animated animate__fadeInUp">
    <div class="w-full d-flex ion-justify-content-center">
      <div class="icon-box">
        <img src="assets/images/ic_card.svg" style="width: 55px; height: 40px"/>
      </div>
    </div>
    <div class="w-full d-flex ion-justify-content-center pb-30px">
      <div class="card-box">
        <div class="card-content">
          <p class="ion-text-center fs-15 m-10px-0 mb-25px text-primary fw-700 animate__animated animate__fadeInUp">{{'Add Card to Account' | translate}}</p>
          <div class="p-0 form animate__animated animate__fadeInUp">
            <ion-list lines="none" class="p-0 d-center">
              <ion-item class="mb-25px animate__animated animate__fadeInUp" lines="none">
                <div class="item_inner">
                  <ion-input mode="md" type="email|text" placeholder="{{'Name on Card' | translate}}"></ion-input>
                </div>
              </ion-item>

              <ion-item class="mb-25px animate__animated animate__fadeInUp" lines="none">
                <div class="item_inner">
                  <ion-input mode="md" type="email|text" placeholder="{{'Card Number' | translate}}"></ion-input>
                </div>
              </ion-item>

              <div class="d-flex ion-justify-content-between">
                <ion-item class="mb-25px mr-8px border-b-0 w-20pro animate__animated animate__fadeInUp" lines="none">
                  <div class="item_inner">
                    <ion-select placeholder="MM">
                      <ion-select-option value="01">01</ion-select-option>
                      <ion-select-option value="02">02</ion-select-option>
                      <ion-select-option value="03">03</ion-select-option>
                      <ion-select-option value="04">04</ion-select-option>
                      <ion-select-option value="05">05</ion-select-option>
                      <ion-select-option value="06">06</ion-select-option>
                      <ion-select-option value="07">07</ion-select-option>
                      <ion-select-option value="08">08</ion-select-option>
                      <ion-select-option value="09">09</ion-select-option>
                      <ion-select-option value="10">10</ion-select-option>
                      <ion-select-option value="11">11</ion-select-option>
                      <ion-select-option value="12">12</ion-select-option>
                    </ion-select>
                  </div>
                </ion-item>
                <ion-item class="mb-25px mr-8px border-b-0 w-30pro animate__animated animate__fadeInUp" lines="none">
                  <div class="item_inner">
                    <ion-select placeholder="YY">
                      <ion-select-option value="2022">2022</ion-select-option>
                      <ion-select-option value="2023">2023</ion-select-option>
                      <ion-select-option value="2024">2024</ion-select-option>
                      <ion-select-option value="2025">2025</ion-select-option>
                      <ion-select-option value="2026">2026</ion-select-option>
                    </ion-select>
                  </div>
                </ion-item>
                <ion-item class="mb-25px animate__animated w-50pro animate__fadeInUp" lines="none">
                  <div class="item_inner">
                    <ion-input mode="md" type="email|text" placeholder="{{'CVV' | translate}}"></ion-input>
                  </div>
                </ion-item>
              </div>

              <ion-item class="mb-25px animate__animated animate__fadeInUp" lines="none">
                <div class="item_inner">
                  <ion-input mode="md" type="email|text" placeholder="{{'Address' | translate}}"></ion-input>
                </div>
              </ion-item>

              <ion-item class="mb-25px animate__animated animate__fadeInUp" lines="none">
                <div class="item_inner">
                  <ion-input mode="md" type="email|text" placeholder="{{'City' | translate}}"></ion-input>
                </div>
              </ion-item>

              <ion-item class="mb-25px animate__animated animate__fadeInUp" lines="none">
                <div class="item_inner">
                  <ion-input mode="md" type="email|text" placeholder="{{'Country' | translate}}"></ion-input>
                </div>
              </ion-item>

              <ion-item class="mb-15px animate__animated animate__fadeInUp" lines="none">
                <div class="item_inner">
                  <ion-input mode="md" type="email|text" placeholder="{{'Post Code' | translate}}"></ion-input>
                </div>
              </ion-item>

              <ion-button class="btn btn-sm animate__animated animate__fadeInUp" expand="round" (click)="continue()">{{'DONE' | translate}}</ion-button>
            </ion-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
