<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" mode="md">
      <ion-back-button text="" icon=""></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg_color">
  <div class="footer-rc4"><img src="assets/images/rc4.svg"/></div>
  <div class="splash-bg-rectangle rotate1"></div>
  <div class="splash-bg-rectangle rotate2"></div>
  <div class="splash-bg-rectangle rotate3"></div>
  <div class="splash-bg-rectangle rotate4"></div>
  <div class="d-full">
    <ion-col class="round-shadow-box animate__animated animate__fadeInUp" size="10">
      <img src="assets/images/ic_success.svg" class="success-icon"/>
      <h2 class="ion-text-center text-primary fw-700 mb-10px">{{'Transaction Successful' | translate}}</h2>
      <p class="ion-text-center text-primary fs-12">
        N5,000 is on it’s way to<br />
        Abigeal Freeman
      </p>
    </ion-col>
  </div>
</ion-content>
