<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <object type="image/svg+xml" data="assets/images/main_home.svg"></object>
        </ion-tab-button>

        <ion-tab-button tab="payment">
            <object type="image/svg+xml" data="assets/images/main_payment.svg"></object>
        </ion-tab-button>

        <ion-tab-button tab="profile">
            <object type="image/svg+xml" data="assets/images/main_user.svg"></object>
        </ion-tab-button>

        <ion-tab-button tab="card">
            <object type="image/svg+xml" data="assets/images/main_card.svg"></object>
        </ion-tab-button>

        <ion-tab-button tab="more">
            <object type="image/svg+xml" data="assets/images/main_more.svg"></object>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>