.header_banner {
    --animate-duration: .2s;
    .banner_img img {
        max-width: 128px;
        min-width: 128px;
    }
    .text_box {
        padding-top: 20px;
    }
}

.form {
    background: var(--white);
    border-radius: 20px 20px 0 0;
    min-height: calc(100vh - 208px - 75px);
    padding-top: 34px;
    --animate-duration: .2s!important;
    h2 {
        margin: 0;
        color: var(--text-light);
        font-size: 1rem;
        letter-spacing: 0.4px;
        padding: 0px 0 36px 0;
    }
}

ion-footer {
    background: var(--white);
    padding: 0 20px 20px 20px;
    ion-button {
        --animate-duration: .4s !important;
    }
}