<ion-header class="bg_transparent">
    <ion-toolbar>
        <ion-title>
            <div class="title-inner d-flex">
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <div class="splash-bg-rectangle rotate1"></div>
    <div class="splash-bg-rectangle rotate2"></div>
    <div class="splash-bg-rectangle rotate3"></div>
    <div class="splash-bg-rectangle rotate4"></div>
    <div class="footer-rc4"><img src="assets/images/rc4.svg"/></div>
    <ion-grid>  
        <ion-row>  
            <ion-col (click)="airtime()">
                <img src="assets/images/ic_airtime.svg"/>
                <ion-label class="ion-text-center">
                    <span>{{ 'Airtime & Data' | translate }}</span>
                </ion-label>
            </ion-col>  
            <ion-col (click)="tv()">
                <img src="assets/images/ic_tv.svg"/>
                <ion-label class="ion-text-center">
                    <span>{{ 'Cable/TV' | translate }}</span>
                </ion-label>
            </ion-col>
        </ion-row>  
        <ion-row>  
            <ion-col (click)="electricity()">
                <img src="assets/images/ic_electricity.svg"/>
                <ion-label class="ion-text-center">
                    <span>{{ 'Electricity Bills' | translate }}</span>
                </ion-label>
            </ion-col>  
            <ion-col (click)="send_money()">
                <img src="assets/images/ic_send_money.svg"/>
                <ion-label class="ion-text-center">
                    <span>{{ 'Send Money' | translate }}</span>
                </ion-label>
            </ion-col>
        </ion-row>  
        <ion-row>  
            <ion-col (click)="lottery()">
                <img src="assets/images/ic_lottery.svg"/>
                <ion-label class="ion-text-center">
                    <span>{{ 'Betting & Lottery' | translate }}</span>
                </ion-label>
            </ion-col>  
            <ion-col (click)="utility()">
                <img src="assets/images/ic_utility.svg"/>
                <ion-label class="ion-text-center">
                    <span>{{ 'Utility Fee\nPayment' | translate }}</span>
                </ion-label>
            </ion-col>
          </ion-row>  
    </ion-grid>  
</ion-content>