<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" mode="md">
      <ion-back-button text="" icon=""></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg_color">
  <div class="footer-rc4"><img src="assets/images/rc4.svg"/></div>
  <div class="splash-bg-rectangle rotate1"></div>
  <div class="splash-bg-rectangle rotate2"></div>
  <div class="splash-bg-rectangle rotate3"></div>
  <div class="splash-bg-rectangle rotate4"></div>
  <h2 class="ion-text-center animate__animated animate__fadeInUp text-primary fw-700">{{'Add Money by Transfer' | translate}}</h2>
  <p class="ion-text-center text-primary fs-12 animate__animated animate__fadeInUp">
    You can fund your Recharge4 Wallet by simply<br />
    transferring from any bank. All you need to do is<br />
    supply the details below:
  </p>
  <div class="form animate__animated animate__fadeInUp">
    <ion-list lines="none">
      <ion-item lines="none" class="mb-10px pb-0 border-b-0">
        <div class="item_inner blue-round-input">
          <ion-label>{{'Bank' | translate}}</ion-label>
          <div class="input_box d-flex">
            <ion-input mode="md" type="name" placeholder="{{ 'Enter Bank' | translate}} " value="Sterling Bank"></ion-input>
          </div>
        </div>
      </ion-item>

      <ion-item lines="none" class="mb-10px border-b-0">
        <div class="item_inner blue-round-input">
          <ion-label>{{'Account Number' | translate}}</ion-label>
          <div class="input_box d-flex">
            <ion-input mode="md" type="name" placeholder="{{ 'Enter Account Number' | translate}} " value="0091832752"></ion-input>
          </div>
        </div>
      </ion-item>

      <ion-item lines="none" class="mb-10px border-b-0">
        <div class="item_inner blue-round-input">
          <ion-label>{{'Account Name' | translate}}</ion-label>
          <div class="input_box d-flex">
            <ion-input mode="md" type="name" placeholder="{{ 'Enter Account Name' | translate}} " value="George Igwe"></ion-input>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
